body {
    background-color: #f5f5f5;
    color: #3d3d3d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    width: 400px;
    height: auto;
}

a {
    color: #1f1f1f;
}

a.home {
    font-size: 0.8rem;
}

a:hover {
    color: #5c5c5c;
    background-color: #ebebeb;
}
